<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.maplefall.mapper.GoodsMapper">

    <select id="lists" resultType="GoodsDTO">
        select g.* ,t.id 'tid',t.type from goods g join top t
        on g.id =t.goods_id
        <where>
            <if test="name != null">
                name like concat('%', #{name}, '%')
            </if>
        </where>
    </select>
</mapper>
