<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.maplefall.mapper.GoodsMapper">

    <!--查询所有商品和对应的榜单top表-->
    <select id="lists" resultType="GoodsDTO">
        select g.* ,t.id 'tid',t.type 'types' from goods g left outer join top t
        on g.id = t.goods_id
        <where>
            <if test="name != null">
                and g.name like concat('%', #{name}, '%')
            </if>
            <if test="typeId != null">
                and g.type_id = #{typeId}
            </if>
            <if test="types != null">
                and t.type = #{types}
            </if>
        </where>
        order by g.id desc
    </select>

    <!--更新商品信息-->
    <update id = "updateGoods">
        update goods
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="intro != null">
                intro = #{intro},
            </if>
            <if test="cover != null">
                cover = #{cover},
            </if>
            <if test="image1 != null">
                image1 = #{image1},
            </if>
            <if test="image2 != null">
                image2 = #{image2},
            </if>
            <if test="stock != null">
                stock = #{stock},
            </if>
            <if test = "typeId != null">
                type_id = #{typeId},
            </if>
            <if test = "status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--添加商品-->
    <insert id = "saveGoods" parameterType="Goods" useGeneratedKeys="true" keyProperty="id">
        insert into goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="intro != null">
                intro,
            </if>
            <if test="cover != null">
                cover,
            </if>
            <if test="image1 != null">
                image1,
            </if>
            <if test="image2 != null">
                image2,
            </if>
            <if test="stock != null">
                stock,
            </if>
            <if test="typeId != null">
                type_id,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name},
            </if>
            <if test="price != null">
                #{price},
            </if>
            <if test="intro != null">
                #{intro},
            </if>
            <if test="cover != null">
                #{cover},
            </if>
            <if test="image1 != null">
                #{image1},
            </if>
            <if test="image2 != null">
                #{image2},
            </if>
            <if test="stock != null">
                #{stock},
            </if>
            <if test="typeId != null">
                #{typeId},
            </if>
            <if test="status != null">
                #{status},
            </if>
        </trim>
    </insert>

    <!--删除商品-->
    <delete id="delGoods">
        delete from goods where id = #{id}
    </delete>
</mapper>
