<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.maplefall.mapper.UserMapper">

    <select id="lists" resultType="User">
        select * from user
        <where>
            <if test="name != null">
                name like concat('%', #{name}, '%')
            </if>
        </where>
    </select>

    <!--检测用户名是否存在-->
    <select id="checkExistsUserName" resultType="integer">
        select count(1) from user where username=#{username}
    </select>

    <!--检测手机号是否存在-->
    <select id="checkExistsPhone" resultType="integer">
        select count(1) from user where phone=#{phone}
    </select>

    <!--添加用户-->
    <insert id="addUser">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="address != null">
                address,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="phone != null">
                #{phone},
            </if>
            <if test="address != null">
                #{address},
            </if>
        </trim>
    </insert>

    <!--根据ID查询顾客-->
    <select id = "getUserById" resultType="tech.maplefall.entity.User"><!--老师没加结果类型-->
        select * from user where id = #{id}
    </select>

    <!--修改用户信息-->
    <update id = "updateUser">
        update user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--删除用户-->
    <delete id="delUser">
        delete from user where id = #{id}
    </delete>
</mapper>
